{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block main_content %}

<h1>About Quest Maker</h1>

<p><strong>NOTE: This site is still in early development. Please check back soon!</strong>
</p>

<p>QuestMaker integrates with FitBit and makes exercise more rewarding by enabling users to easily create and participate in quests with their friends. In its simplest form, a quest is a series of milestones that users reach as they cover more distance over time. For users with FitBits, daily progress is updated automatically; for those without, manual entry is easy.
</p>

<p>The idea for this application comes from the <a href="http://home.insightbb.com/~eowynchallenge/index.html">Walk to Rivendell Challenge</a>, which provides a <a href="http://home.insightbb.com/~eowynchallenge/Tools/Bag_end/bag_end.html">series of waypoints</a> for Frodo's walk across Middle Earth. Since its inception in 2003, many people have made the whimsical trek across Tolkien's Middle Earth by manually charting their mileage each day and sharing their progress with friends. QuestMaker personalizes and automates this process, allowing you to focus your energies on outwalking the rest of your <strike>friends</strike> <strike>competitors</strike> fellowship!
</p>

<p>A quest adds <strong>shared context</strong> and <strong>tangible goals</strong> to an activity that, in isolation, would be pretty boring. Exercise-for-the-sake-of-exercise gets old. Compare climbing 200 flights of stairs alone to climbing a mountain with your friends -- isn't it more fun when you're going somewhere, together? With QuestMaker, you always are, even when you're not.

<p>To get started in QuestMaker, you can simply <strong>clone an existing quest</strong> and invite your friends. In the future, you will also be able to <strong>create your own quests</strong>.
</p>


{% endblock %}
