{% extends "base.html" %}
{% load staticfiles %}


{% block main_content %}
  <h1>{{character}} ({{username}})</h1>
  {% if is_finished %}
    <h3>Wow! {{character}} passed {{quest.length}} miles on {{day_finished}} and finished {{quest.name}}.</h3>
  {% endif %}
  <a href="{% url 'quest_maker_app:quest' quest.pk%}"
                class="btn btn-info navbar-form pull-right"
                role="button">Back to quest</a>

  <div class="table-responsive">
    <table class="table-hover table">
      <tr>
        <th>Date</th>
        <th>Daily Miles</th>
        <th>Total Miles</th>
        <th>Last waypoint passed</th>
      </tr>
    {% for info in daily_info %}
      <tr>
          <td>{{info.day}}</td>
          <td>
            {% if is_request_user %}
              {% if info.id %}
                {{info.daily_distance}}
                 <a href="{% url 'quest_maker_app:update_daily_distance' info.id %}"
                  class="btn btn-info navbar-form"
                  role="button">Edit</a>
              {% else %}
                <a href="{% url 'quest_maker_app:create_daily_distance' %}?day={{info.day|date:'Y-m-d'}}"
                  class="btn btn-info navbar-form"
                  role="button">Add</a>
              {% endif %}
            {% else %}
              {{info.daily_distance}}
            {% endif %}
            {% if info.fitbit %}
              <img src="{% static 'fitbit-1024-blk-transparent.png' %}" style="width:20px">
            {% endif %}
          </td>
          <td>{{info.total_distance}}</td>
          <td><b>{{info.waypoint.rank}}.</b> {{info.waypoint.description}}</td>
      </tr>

    {% endfor %}
    </table>
  </div>

{% endblock %}